:root{
    --red:#e10000;
    --black:#000000;
    --white:#ffffff;
    --yellow:#ffe600;
}
.bg { 
    background-image: linear-gradient(175deg, #FFEB00, #E5CD00 40%);
    position: relative;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}
video {
    position: absolute;
    object-position: -150px -100px;
    transform: scale(140%);
    height: auto;
    left: 0;
    top: 0;
    mix-blend-mode: soft-light;
}

.box-effect {
    background-image: url(https://w3tec.com/assets/box-effect.png);
    background-position: 0 12%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: plus-lighter;
}
.carousel-img{
    width: 250px; 
    height: 350px;
    transition: all ease 1s;  
    border-radius: 20px;
}
.carousel-img:hover{
    transform: scale(110%);
}
.carousel-btn-prev{
    position: absolute;
    left: -450px;
    top: 80% ;
    
}
.carousel-btn-next{
    position: absolute;
    left: -350px;
    top: 80%;
   
}
@media screen and (max:991px) {
    .carousel-btn-prev{
       display: none;
        
    }
    .carousel-btn-next{
       display: none;
       
    }
}
.carousel-btn{
    background-color:var(--red);
    border: none;
    padding: 30px;
    z-index: 1;
}
.carousel-btn:hover{
    background-color: var(--red);
}
/*  */
.full-stack{
    background: linear-gradient(90deg, #FFB800 0%, #CA0000 78%);
    border-radius: 40px;
}
.marketing{
    background: linear-gradient(90deg, #4D1D9C 21.5%, #008AB6 100%);
    border-radius: 30px;
}
.marketing-head{
    color: #0ebbcc;
}
.designing{
    background: linear-gradient(90deg, #DF5959 0%, #760089 78%);
    border-radius: 30px;
}
.designing-head{
    color:#FEC6FF;
}
/*  */
.reesan-text{
    color: #4f607a;
}
/*  */
.doubt-sec{
    background: url(../Images/background-image.png);
}
/*  */
.certificate-sec{
    background: url(../Images/certification-sec-bg.png);
    padding: 30px 0px;
}
.certificate-icons{
    background: #e1e1e11a;
}
/* .certificate-sec .certificate-col-2{
    width: 80%;
} */
.certificate-icons .dark-circle{
    background-color: var(--black);
    border-radius: 50%;
    width: 110px;
    padding: 30px 0px;
    margin-left: 10px;
    margin-bottom: 20px;

}

.reviews-sec .student-image{
    border: 20px solid var(--white);
    width: 40%;
    border-radius: 50%;
}
.reviews-sec .student-lpa{
    background:linear-gradient(90deg, #D12600 0%, #9E4800 100%);
    font-size: 30px;
    padding-left: 20px;
    color: var(--white);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
/*  */

/*  */
.student-review{
    background-color: var(--black);
    color: var(--white);
}
.student-review .card-background{
    position: relative;
    margin-left: 90px;
    padding: 30px 38px 38px 90px;
    background: #363636;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: -10px 10px 0px 0px var(--yellow);
}
.student-review .card-background-1{
    position: relative;
    margin-left: 0px;
    padding: 30px 8px 38px 30px;
    background: #363636;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: -10px 10px 0px 0px var(--yellow);
}

.card-background .card-image{
    position: absolute;
    left: -40px;
}
.services-sec .services-card{
    background: linear-gradient(102.38deg,#4277D1 37.68%,#0EBBCC 102.92%);   
}
.services-sec{
    background-color: #e8f1ff;
}
.client-images{
    box-shadow: -1px 2px 10px 0px #00000033;
}
